<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>$(APP_DISPLAY_NAME)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(APP_FILE_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your camera for capturing photos, recording videos, and facilitating video calls and scan QR codes.</string>
		<key>NSContactsUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your contacts to help you connect with friends.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your microphone to record audio during video calls and recordings.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your photo library to select and share photos and videos with friends.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your photo library to save media files.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>$(APP_DISPLAY_NAME) needs access to your calendar to help you schedule events and reminders.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
			<string>voip</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>educhain</string>
				</array>
				<key>CFBundleURLName</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</dict>
		</array>
		<key>branch_universal_link_domains</key>
		<array>
			<string>educhain.app.link</string>
			<string>educhain-alternate.app.link</string>
		</array>
		<key>branch_key</key>
		<dict>
			<key>live</key>
			<string>key_live_dujOLLFZtgCih3A6HZIMUjnfwAfwpaca</string>
		</dict>
	<key>GIDClientID</key>
	<string>497586000093-309b4dvkpufbksg1od4d16c2q7l3ins4.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>497586000093-309b4dvkpufbksg1od4d16c2q7l3ins4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.497586000093-309b4dvkpufbksg1od4d16c2q7l3ins4</string>
			</array>
		</dict>
	</array>
		<key>RTCAppGroupIdentifier</key>
		<string>group.educhain</string>
		<key>RTCScreenSharingExtension</key>
		<string>social.educhain.app.Screenshare</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	</dict>
	
</plist>
