<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>d07bb1897e4e38b450566446aecd3ba2</string>
	<key>Color</key>
	<dict>
		<key>IdentityColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>IdentityTextColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>MainTextColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
		<key>BackgroundColor</key>
		<dict>
			<key>Primary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>activated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
				<key>inactivated</key>
				<dict>
					<key>light</key>
					<string></string>
					<key>dark</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Font</key>
	<dict>
		<key>SPUIStoreView</key>
		<dict>
			<key>StickerPackageCell</key>
			<dict>
				<key>size</key>
				<string>17</string>
				<key>family</key>
				<string>AVENIDARegular</string>
			</dict>
			<key>Home</key>
			<dict>
				<key>RecommendListTitle</key>
				<dict>
					<key>size</key>
					<string>17</string>
					<key>family</key>
					<string>AVENIDARegular</string>
				</dict>
			</dict>
			<key>TabTitle</key>
			<dict>
				<key>size</key>
				<string>17</string>
				<key>family</key>
				<string>AVENIDARegular</string>
			</dict>
		</dict>
		<key>SPUISearchView</key>
		<dict>
			<key>SPUISearchBar</key>
			<dict>
				<key>TextField</key>
				<dict>
					<key>size</key>
					<string>14</string>
					<key>family</key>
					<string>AVENIDARegular</string>
				</dict>
			</dict>
			<key>RecommendKeyword</key>
			<dict>
				<key>size</key>
				<string>14</string>
				<key>family</key>
				<string>AVENIDARegular</string>
			</dict>
			<key>RecommendKeywordsTitle</key>
			<dict>
				<key>size</key>
				<string>14</string>
				<key>family</key>
				<string>AVENIDARegular</string>
			</dict>
		</dict>
		<key>SPUIPickerView</key>
		<dict>
			<key>AlertMessage</key>
			<dict>
				<key>size</key>
				<string>17</string>
				<key>family</key>
				<string>AVENIDARegular</string>
			</dict>
		</dict>
	</dict>
	<key>Icon</key>
	<dict>
		<key>SPUIPickerView</key>
		<dict>
			<key>Search</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Recent</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Favorite</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Store</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Setting</key>
			<dict>
				<key>isActive</key>
				<true/>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
		<key>SPUIStoreViewController</key>
		<dict>
			<key>Download</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>DownloadComplete</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Hide</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Activate</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Move</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
		<key>SPUISearchBar</key>
		<dict>
			<key>Search</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
			<key>Cancel</key>
			<dict>
				<key>light</key>
				<string></string>
				<key>dark</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>Function</key>
	<dict>
		<key>Preview</key>
		<true/>
		<key>Sticker</key>
		<dict>
			<key>DoubleTap</key>
			<false/>
		</dict>
	</dict>
	<key>Layout</key>
	<dict>
		<key>SPUIPickerView</key>
		<dict>
			<key>OnKeyboard</key>
			<true/>
		</dict>
		<key>StickersPerRow</key>
		<integer>4</integer>
	</dict>
	<key>Mode</key>
	<dict>
		<key>PackPurchase</key>
		<false/>
	</dict>
	<key>SAuth</key>
	<dict>
		<key>isActive</key>
		<false/>
	</dict>
</dict>
</plist>